# Rust / Cargo
/target/
xt line.
# Cargo.lock

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.temp

# Swap files
*.swp
*.swo

# Windows binaries and build artifacts
*.exe
*.dll
*.pdb
*.lib
*.obj

# Misc
.env
node_modules/
output.csv
*.csv
test.md